@import "src/styles/settings";
@import "src/styles/fonts";

.template {
    padding: 20px 0;
}

.content {
    text-align: justify;
}

.article {
    h1,
    h3 {
        text-align: center;
        text-transform: none;
    }

    h3 {
        font-style: italic;
    }
}

.post-image {
    max-width: 700px;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
}
