// Colors

$white: #fcfcfc;
$black: #000;
$invis: transparent;

$accent: #c5d0dd;

$background: #f5f5f5;

$text-light: #dcdcdd;

$text-primary: #2c394a;
$text-secondary: #fda5a4;

$text-discreet: yellow;

$color-red: #ff0000;

// Font families

$font-primary: "Martel", "Georgia", serif;
$font-secondary: "Karla", "Helvetica Neue", helvetica, arial, sans-serif;

// Font sizes

$size-huge: 3rem; // 48px
$size-large: 2rem; // 32px
$size-headings: 1.5rem; // 24px
$size-big: 1.125rem; // 18px
$size-regular: 16px; // the base (1rem)
$size-small: 0.75rem; // 12px
$size-smaller: 0.625px; // 1rem - the base

$padding-regular: 20px;
