@import "../../styles/fonts";
@import "../../styles/helpers";

.footer {
    @include font-regular($size-regular);

    background-color: $background;
    padding: 20px;
    color: $text-primary;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    a {
        color: $text-primary;
    }
}

.icons {
    width: 100px;
}
