@import "../../styles/fonts";
@import "../../styles/helpers";

.footer {
    @include font-regular($size-regular);

    background-color: $background;
    padding: 20px;
    color: $text-primary;
    text-align: center;
    display: grid;
    place-items: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }

    a {
        color: $text-primary;
    }
}

.icons {
    width: 100px;
}

.copyright {
    span:not(:last-child) {
        padding-right: 5px;
    }
}
